{% extends "base.html" %}
{% block page_title %}Browse Projects{% endblock %}

{% block body_content %}

    <legend>Public Projects</legend>
    {% if projects|length_is:'0' %}
    <p>There are currently no public projects listed. Why not <a href="{% url 'project_create' %}">start a new one</a>?</p>
    {% else %}
    <table class="table table-striped" id="projects-table">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Description</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
        {% for p in projects %}
            <tr>
                <td>
                    {% if p.owner == user %}
                    <i class="icon-briefcase" title="You started this project."></i>
                    {% elif user in p.collaborators.all %}
                    <i class="icon-user" title="You are a collaborator on this project."></i>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'project_update' p.id %}">{{ p.name }}</a>
                </td>
                <td>
                    {{ p.description }}
                </td>
                <td>
                    {% if p.owner == user %}
                    <b>{{ p.owner.first_name }} {{ p.owner.last_name }}</b>
                    {% else %}
                    {{ p.owner.first_name }} {{ p.owner.last_name }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}

{% block extra_script %}
<script type="application/javascript">
    $('#projects-table').dataTable({
        aoColumnDefs: [
            {
               bSortable: false,
               aTargets: [ 0 ]
            }
        ],
        bPaginate: false
    }).fnSort([[1, 'desc']]);
</script>
{% endblock %}