{% extends "base.html" %}
{% block page_title %}Browse Projects{% endblock %}

{% block body_content %}

    <legend>All Projects</legend>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody>
        {% for p in projects %}
            <tr>
                <td><a href="{% url 'project_update' p.id %}">{{ p.name }}</a></td>
                <td>{{ p.description }}</td>
                <td>{{ p.owner.first_name }} {{ p.owner.last_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}