{% extends "base.html" %}
{% block page_title %}Collaborators{% endblock %}

{% block body_content %}

    <legend>Edit Collaborators for {{ project.name }}</legend>


    {% if users|length_is:'0' %}
    <p>Unfortunately there are currently no users in the system available to collaborate on your project. Click <a href="{% url 'project_update' project.id %}">here</a> to return to your project.</p>
    {% else %}
    <form method="post">
    {% csrf_token %}
        <table class="table" style="width: 400px">
            <thead>
                <tr>
                    <th>Users</th>
                    <th style="width: 20px">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for u in users %}
                <tr>
                    <td>{{ u.first_name }} {{ u.last_name }}</td>
                    <td><input type="checkbox" name="collaborators" value="{{ u.id }}" {% if u in project.collaborators.all %}checked="checked"{% endif %}></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="control-group">
            <div class="controls">
                  <button type="button" onclick="window.location = '{% url 'project_update' project.id %}';" class="btn">Cancel</button>
                  <button type="submit" class="btn btn-info">Continue</button>
            </div>
        </div>
    </form>
    {% endif %}

{% endblock %}