{% extends "base.html" %}
{% block page_title %}Enter Data{% endblock %}

{% block body_content %}

    <div class="row-fluid">
        <div class="span12">
            <legend>Enter Data for {{ project.name }}</legend>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#nodes" data-toggle="tab">{{ project.node_description }}{% if project.owner == user %} (Nodes){% endif %}</a></li>
                <li><a href="#edges" data-toggle="tab">{{ project.edge_description }}{% if project.owner == user %} (Edges){% endif %}</a></li>
            </ul>
            <div id="node-name-error" class="alert alert-error" style="display:none">
                <strong>Error!</strong> Please enter a unique name.
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="nodes">
                    <form id="node-form" class="wide form-horizontal">
                        <div class="control-group">
                            <label for="input-name" class="control-label">Name</label>
                            <div class="controls">
                                <input type="text" name="name" id="input-name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="input-node-description" class="control-label">Description</label>
                            <div class="controls">
                                <textarea name="description" id="input-node-description"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button onclick="saveNode(); return false;" class="btn btn-success"><i class="icon-plus icon-white"></i> Add</button>
                            </div>
                        </div>
                        <input type="hidden" name="project" value="{{ project.id }}">

                        {% csrf_token %}
                    </form>
                    <br/><br/>
                    <h4>Existing {{ project.node_description }}</h4>
                    <div id="node-table">
                        {% include 'node_table.html' %}
                    </div>
                </div>
                <div class="tab-pane" id="edges">
                    <form id="edge-form" class="wide form-horizontal">
                        <div class="control-group">
                            <label for="input-type" class="control-label">Type</label>
                            <div class="controls">
                                <select name="type" onchange="updateLabels(this);" id="input-type">
                                    <option value="1">Undirected</option>
                                    <option value="2" selected="selected">Directed</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label id="from-label" for="input-from" class="control-label">From</label>
                            <div class="controls">
                                <select id="input-from" name="from_node">
                                    {% for node in nodes %}
                                        <option value="{{ node.id }}">{{ node.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label id="to-label" for="input-to" class="control-label">To</label>
                            <div class="controls">
                                <select id="input-to" name="to_node">
                                    {% for node in nodes %}
                                        <option value="{{ node.id }}">{{ node.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="input-edge-description" class="control-label">Description</label>
                            <div class="controls">
                                <textarea name="description" id="input-edge-description"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button onclick="saveEdge(); return false;" class="btn btn-success"><i class="icon-plus icon-white"></i> Add</button>
                            </div>
                        </div>
                        <input type="hidden" name="project" value="{{ project.id }}">
                        {% csrf_token %}
                    </form>
                    <br/><br/>
                    <h4>Existing {{ project.edge_description }}</h4>
                    <div id="edge-table">
                        {% include 'edge_table.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_script %}
<script type="application/javascript">

    function saveEdge () {
        $.post('{% url 'edge_create' project.id %}', $('#edge-form').serialize(), function (data) {
            $('#edge-table').html(data);
        }).error(function (data) {
            // pass
        });
    }

    function saveNode () {
        $.post('{% url 'node_create' project.id %}', $('#node-form').serialize(), function (data) {
            $('#node-name-error').hide();
            $('#node-table').html(data);
        }).error(function (data) {
            var errors = $.parseJSON(data.responseText).errors;
            if (errors.indexOf('name') >= 0) {
                $('#node-name-error').show();
            }
        });
    }

    function updateLabels (selectEl) {
        if ($(selectEl).val() == '1') {
            // Non-directional
            $('#from-label').text('Between:');
            $('#to-label').text('And:')
        }
        else {
            // Directional
            $('#from-label').text('From:');
            $('#to-label').text('To:')
        }
    }

</script>
{% endblock %}