{% extends "base.html" %}
{% block page_title %}Enter Data{% endblock %}

{% block body_content %}

    <div class="row-fluid">
        <div class="span12">
            <legend>Enter Data for {{ project.name }}</legend>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#nodes" data-toggle="tab">{{ project.node_description }}{% if project.owner == user %} (Nodes){% endif %}</a></li>
                <li><a id="edge-tab" href="#edges" data-toggle="tab">{{ project.edge_description }}{% if project.owner == user %} (Edges){% endif %}</a></li>
            </ul>
            <div id="messages" style="height:50px">
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="nodes">
                    <form id="node-form" class="wide form-horizontal">
                        <div class="control-group">
                            <label for="input-name" class="control-label">Name</label>
                            <div class="controls">
                                <input type="text" name="name" id="input-name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="input-node-description" class="control-label">Description</label>
                            <div class="controls">
                                <textarea name="description" id="input-node-description"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="button" onclick="window.location = '{% url 'project_update' project.id %}';" class="btn">Back</button>
                                <button onclick="saveNode(); return false;" class="btn btn-success"><i class="icon-plus icon-white"></i> Add</button>
                            </div>
                        </div>
                        <input type="hidden" name="project" value="{{ project.id }}">

                        {% csrf_token %}
                    </form>
                    <br/><br/>
                    <h4>Existing {{ project.node_description }}</h4>
                    <div id="node-table">
                        {% include 'node_table.html' %}
                    </div>
                </div>
                <div class="tab-pane" id="edges">
                    <form id="edge-form" class="wide form-horizontal">
                        <div class="control-group">
                            <label for="input-type" class="control-label">Type</label>
                            <div class="controls">
                                <select name="type" onchange="updateLabels(this);" id="input-type">
                                    <option value="1">Undirected</option>
                                    <option value="2" selected="selected">Directed</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label id="from-label" for="input-from" class="control-label">From</label>
                            <div class="controls">
                                <select id="input-from" name="from_node">
                                    {% include 'node_options.html' %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label id="to-label" for="input-to" class="control-label">To</label>
                            <div class="controls">
                                <select id="input-to" name="to_node">
                                    {% include 'node_options.html' %}
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="input-edge-description" class="control-label">Description</label>
                            <div class="controls">
                                <textarea name="description" id="input-edge-description"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="button" onclick="window.location = '{% url 'project_update' project.id %}';" class="btn">Back</button>
                                <button onclick="saveEdge(); return false;" class="btn btn-success"><i class="icon-plus icon-white"></i> Add</button>
                            </div>
                        </div>
                        <input type="hidden" name="project" value="{{ project.id }}">
                        {% csrf_token %}
                    </form>
                    <br/><br/>
                    <h4>Existing {{ project.edge_description }}</h4>
                    <div id="edge-table">
                        {% include 'edge_table.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_script %}
<script type="application/javascript">

    function fadeError (message) {
        _fadeAlert(message, 'alert-error');
    }

    function fadeSuccess (message) {
        _fadeAlert(message, 'alert-success');
    }

    function _fadeAlert(message, cls) {

        // Clear existing messages
        $('#messages .alert').hide(function () {
            $().remove('#messages .alert');
        });

        // Display new message
        var msgEl = $('<div class="alert ' + cls + '">' + message + '</div>');
        $('#messages').append(msgEl);
        setTimeout(function () {
            msgEl.fadeOut(500, function () { $().remove(msgEl); });
        }, 2000);
    }

    // On edges tab show
    $('a#edge-tab[data-toggle="tab"]').on('shown', function (e) {
        $.get('{% url 'nodes_as_options' project.id %}', function (data) {
            $('select#input-from,select#input-to').empty().append(data);
        });
    });

    function saveEdge () {
        if ($('#edge-form #input-from option:selected').val() === '' || $('#edge-form #input-to option:selected').val() === '') {
            fadeError('Please select two {{ project.node_description }}');
            return;
        }
        $.post('{% url 'edge_create' project.id %}', $('#edge-form').serialize(), function (data) {
            $('#edge-table').html(data);
            var join = $('#edge-form #input-type').val() == '1' ? ' - ' : ' > ';
            var edge = $('#edge-form #input-from option:selected').text() + join + $('#edge-form #input-to option:selected').text();
            fadeSuccess(edge + ' added');
            $('#edge-form #input-from').val('');
            $('#edge-form #input-to').val('');
            $('#edge-form #input-edge-description').val('');
        }).error(function (data) {
            // pass
        });
    }

    function saveNode () {
        $.post('{% url 'node_create' project.id %}', $('#node-form').serialize(), function (data) {
            $('#node-name-error').hide();
            $('#node-table').html(data);
            fadeSuccess($('#node-form #input-name').val() + ' added');
            $('#node-form #input-name').val('');
        }).error(function (data) {
            var errors = $.parseJSON(data.responseText).errors;
            if (errors.indexOf('name') >= 0) {
                fadeError('Please enter a unique name.');
            }
        });
    }

    function updateLabels (selectEl) {
        if ($(selectEl).val() == '1') {
            // Non-directional
            $('#from-label').text('Between:');
            $('#to-label').text('And:')
        }
        else {
            // Directional
            $('#from-label').text('From:');
            $('#to-label').text('To:')
        }
    }

</script>
{% endblock %}