{% extends "base.html" %}
{% block page_title %}Home{% endblock %}
{% block body_content %}
    {% if not user.is_authenticated %}
    <div class="row-fluid">
        <div class="well">
            Mesh is an online configurable interface that opens access to sophisticated software for the exploration,visualisation and analysis of networks of influence at both global and local scales.
        </div>
    </div>
    <div class="row-fluid" style="text-align: center; margin-top: 30px">
        <button class="btn btn-info" onclick="window.location = '{% url 'auth_login' %}';">Sign In</button>
    </div>
    <div class="row-fluid" style="text-align: center; padding-top: 10px">
        <button class="btn btn-info" onclick="window.location = '{% url 'registration_register' %}';">Join</button>
    </div>
    <div class="row-fluid" style="margin-top: 60px">
        <div class="span4 well" style="height: 100px">
            RESOURCE 1
        </div>
        <div class="span4 well" style="height: 100px">
            RESOURCE 2
        </div>
        <div class="span4 well" style="height: 100px">
            RESOURCE 3
        </div>
    </div>
    {% else %}
        {% include 'navbar.html' %}
        <div class="row-fluid">
            <div class="span6 well" style="height: 100px">
                PROJECT 1
            </div>
            <div class="span6 well" style="height: 100px">
                PROJECT 2
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block extra_script %}
{% endblock %}
