{% extends "base.html" %}
{% block page_title %}Home{% endblock %}
{% block body_content %}
    {% if not user.is_authenticated %}
    <div class="row-fluid">
        <div class="well">
            Mesh is an online configurable interface that opens access to sophisticated software for the exploration,visualisation and analysis of networks of influence at both global and local scales.
        </div>
    </div>
    <div class="row-fluid" style="text-align: center; margin-top: 10px">
        <button class="btn btn-info" onclick="window.location = '{% url 'auth_login' %}';" style="width: 180px; height: 50px">Login</button>
        <button class="btn btn-info" onclick="window.location = '{% url 'registration_register' %}';" style="margin-left: 20px; width: 180px; height: 50px">Register</button>
    </div>
    {% else %}
        <div class="row-fluid">
            <legend>Current Projects</legend>
        </div>

            {% for p in owner_projects.all %}
                {% if forloop.counter0 == 0 %}
                <div class="row-fluid">
                {% endif %}
                {% if forloop.counter0|divisibleby:3 %}
                </div>
                <div class="row-fluid">
                {% endif %}
                    <div onclick="window.location = '{% url 'project_update' p.id %}';" class="span4 well project-box" style="height: 100px">
                        <p class="project-name">{{ p.name }}</p>
                        <p class="project-description">{{ p.description }}</p>
                        <br/>
                        <p class="pull-right">
                            <i class="icon-briefcase"></i> Owner
                        </p>
                    </div>
                {% if forloop.last %}
                </div>
                {% endif %}
            {% endfor %}

            {% for p in collaborator_projects.all %}
                {% if forloop.counter0 == 0 %}
                <div class="row-fluid">
                {% endif %}
                {% if forloop.counter0|divisibleby:3 %}
                </div>
                <div class="row-fluid">
                {% endif %}
                    <div onclick="window.location = '{% url 'project_update' p.id %}';" class="span4 well project-box project-box-collaborator" style="height: 100px">
                        <p class="project-name">{{ p.name }}</p>
                        <p class="project-description">{{ p.description }}</p>
                        <br/>
                        <p class="pull-right">
                            <i class="icon-user"></i> Collaborator
                        </p>
                    </div>
                {% if forloop.last %}
                </div>
                {% endif %}
            {% endfor %}

            {% if collaborator_projects.all|length_is:'0' and owner_projects.all|length_is:'0' %}
                <div class="row-fluid">
                    You are not a member of any projects. Why not <a href="">browse existing projects</a> or <a href="{% url 'project_create' %}">create your own</a>.
                </div>
            {% endif %}

    {% endif %}
{% endblock %}
{% block extra_script %}
{% endblock %}
