<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/">Mesh</a>
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li><a href="#">Learn</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">New Project</a></li>
        </ul>
        {% if user.is_authenticated %}
            <div class="pull-right">
                <ul class="nav">
                    <li class="navbar-text"> Welcome, {{ user.username }}</li>
                    <li class="divider-vertical"></li>
                    <li><a href="{% url 'auth_logout' %}">Logout</a></li>
                </ul>
            </div>
        {% else %}
            <div class="pull-right">
                <ul class="nav">
                    <li><a href="{% url 'auth_login' %}">Signin</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="{% url 'registration_register' %}">Join</a></li>
                </ul>
            </div>
        {% endif %}
    </div>
</div>