{% extends "base.html" %}

{% block page_title %}
    {% if project %}
        Update Project
    {% else %}
        New Project
    {% endif %}
{% endblock %}

{% block body_content %}
    <legend>Project Details</legend>
    <div class="row-fluid">
        <div class="span6">

            {% if not project or project.owner == user %}
                <form method="post" action="" class="wide form-horizontal">
                    {% csrf_token %}

                    {% if project %}
                        <input type="hidden" name="project_id" value="{{ project.id }}"/>
                    {% endif %}

                    <fieldset>
                        {% for field in form %}
                            {% if field.errors %}
                                <div class="control-group error">
                                    <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                                    <div class="controls">
                                        {{ field }}
                                        <span class="help-block">{{ field.errors|first|escape }}</span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="control-group">
                                    <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                                    <div class="controls">
                                        {{ field }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="control-group">
                            <div class="controls">
                                <button type="button" onclick="window.location = '{% url 'home' %}';" class="btn">Cancel</button>
                                <button type="submit" class="btn btn-info" style="float:none">Continue</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            {% else %}
                <h3>{{ project.name }}</h3>
                <p>{{ project.description }}</p>
                <p><b>Collaborators</b> <br/>{% for c in project.collaborators.all %} {{ c.first_name }} {{ c.last_name }} <br/> {% endfor %}</p>
            {% endif %}
        </div>
        <div class="span6">
            {% if project %}
                {% if project.owner == user %}
                <a class="button-link button-link-red confirm-delete" href="#">Deactivate Project ></a>
                <div id="modal-from-dom" class="modal hide fade">
                    <div class="modal-header">
                      <h3>Deactivate Project</h3>
                    </div>
                    <div class="modal-body">
                      <p>You are about to deactivate the project '{{ project.name }}'. Afterwards, the project will no longer be accessible.</p>
                      <p>Do you want to proceed?</p>
                    </div>
                    <div class="modal-footer">
                        <form action="{% url 'deactivate_project' project.id %}" method="POST" style="margin:0">
                            {% csrf_token %}
                            <a href="javascript:$('#modal-from-dom').modal('hide')" class="btn secondary">No</a>
                            <input type="submit" class="btn btn-danger" value="Yes"/>
                        </form>
                    </div>
                </div>
                <br/><br/>
                {% endif %}
                <a class="button-link" href="{% url 'edit_data' project.id %}">Edit Data ></a>
            {% endif %}
        </div>
     </div>

{% endblock %}


{% block extra_script %}
<script type="application/javascript">
    $('.confirm-delete').click(function(e) {
        e.preventDefault();

        var id = $(this).data('id');
        $('#modal-from-dom').data('id', id).modal('show');
    });
</script>
{% endblock %}
