{% extends "base.html" %}

{% block body_content %}

{% if validlink %}

<h3>Reset password</h3>

<form action="" method="post" class="form-horizontal">
{% csrf_token %}
	<input type="hidden" name="next" value="{{ next }}" />
	<fieldset>
	    <legend>Please enter your new password</legend>
	    {% if form.non_field_errors %}
		<div class="row-fluid">
		    <div class="span12 alert alert-error">
			<strong>Error!</strong>
			{{ form.non_field_errors|first|escape }}
		    </div>
		</div>
	    {% endif %}
	    {% for field in form %}
		{% if field.errors %}
		    <div class="control-group error">
			<label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
			<div class="controls">
			    {{ field }}
			    <span class="help-block">{{ field.errors|first|escape }}</span>
			</div>
		    </div>
		{% else %}
		    <div class="control-group">
			<label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
			<div class="controls">
			    {{ field }}
			</div>
		    </div>
		{% endif %}
	    {% endfor %}
	    <button type="submit" class="btn btn-info" style="float:none">Continue</button>
	</fieldset>
</form>

{% else %}

<h3>Password reset unsuccessful</h3>

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}
