{% extends "base.html" %}
{% block page_title %}My Profile{% endblock %}

{% block body_content %}

    <form method="post" class="wide form-horizontal">
          {% csrf_token %}
          <fieldset>
              <legend>Update your details</legend>
              {% for field in form %}
                  {% if field.errors %}
                      <div class="control-group error">
                          <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                          <div class="controls">
                              {{ field }}
                              <span class="help-block">{{ field.errors|first|escape }}</span>
                          </div>
                      </div>
                  {% else %}
                      <div class="control-group">
                          <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                          <div class="controls">
                              {{ field }}
                          </div>
                      </div>
                  {% endif %}
              {% endfor %}
              <div class="control-group">
                  <div class="controls">
                        <button type="button" onclick="window.location = '{% url 'home' %}';" class="btn">Cancel</button>
                        <button type="submit" class="btn btn-info">Continue</button>
                  </div>
              </div>
          </fieldset>
    </form>

{% endblock %}