/* Main logo */
.logo {
    background-image: url(../img/logo.jpg);
    font-family: "Courier New";
    position: relative;
    text-transform: lowercase;
}
.logo a.logo-name {
    color: white;
    float: right;
    font-size: 35px;
    right: 20%;
    bottom: 40px;
    position: absolute;
}
.logo a.logo-name:hover {
    text-decoration: none;
}
.logo .logo-page-title {
    font-size: 65px;
    opacity: 0.6;
}

/* Forms */
form .required .controls:after {
    color: #e32;
    content: '*';
    display:inline;
}

/* Projects */
.project-box {
    background-color: #A3B6A3;
    cursor: pointer;
    height: 200px !important;
    opacity: 0.8;
}
.project-box-collaborator {
    background-color: #73A0B8;
}
.project-box:hover {
    opacity: 1;
}
.project-box .project-name {
    font-size: 1.2em;
    font-weight: bold;
}
.project-box .project-description {
    padding-left: 20px;
}

.button-link {
    font-size: 2.4em;
    font-weight: bold;
}
.button-link:hover {
    text-decoration: none;
}

form.disabled input {
    cursor: not-allowed;
    background-color: #EEE;
    color: #9E9999;
}